<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>SignUp App</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/template" id='signup-template'>
      <br>

      <div class="row">
        <div class="col s4 bordered">
            <h6>
            <%%= name %> : <%%= email %>
            </h6>
        </div>
        <div class="col s4">
            <button type="button" class="remove"><i class="material-icons">delete</i></button>

        </div>
      </div>
      </script>
  </head>
  <body>

  <%= yield %>



  </body>
</html>
